.page {
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    /*padding-bottom: 60px;*/
    box-sizing: border-box;
    /*min-width: 320px;*/
    /*max-width: 600px;*/
    width: 100%;
}

