.menu {
    font-family: 'Dosis-Medium',  sans-serif;
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    font-weight: 400;


}

.menu__item {
    position: relative;
    display: inline;
    float: left;
    clear: none;
    margin-bottom: 10px;
    /*margin-left: 27px;*/
}

.menu__link{
    display: block;
    text-decoration: none;
    position: relative;
    color: #FFFFFF;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0;
}

.menu__item:first-child{
    margin-left: 0;
}

.menu-link__phone{
    font-size: 30px;
}

@media screen and (min-width: 1170px) {

    .menu {
        font-family: 'Dosis-Medium',  sans-serif;
        font-size: 12px;

        list-style-type: none;
        margin: 0;
        font-weight: 400;
    }

    .menu__item {
        margin-left: 27px;
        margin-bottom: 0;
    }



}